<html>
<head>

<head>


<body> 

<h1>Filtered Games</h1>


{{#filteredGames}}
<ul>
<li>
<a href='/games/{{id}}'><img width="200" height="300" src='{{image}}'></a> </br>
<b>{{name}}</b></li>

</ul>
{{/filteredGames}}


</body>



<html>