<html>
<head>

<head>


<body> 

<h1>Filtered Games</h1>
<a href='/users'>Profile</a> </br>
<a href='/home'>Home</a> </br>
<a href='/userSearch'>User Search</a> </br>

{{#filteredGames}}
<ul>
<li>
<a href='/games/{{id}}'><img width="200" height="300" src={{image}}></a> </br>
<b>{{name}}</b></li>

</ul>
{{/filteredGames}}


</body>



<html>