<html>
<head>

<head>


<body> 
<h1>Searched Game</h1>
<a href='/users'>Profile</a> </br>
<a href='/home'>Home</a> </br>
<a href='/userSearch'>User Search</a> </br>
{{#gameSearched}}
<ul>

<li> <img width="200" height="300" src={{image}}> </br> Title: <b>{{name}}</b> </br>Release Date: <b>{{released}}</b> </br>Rating: <b>{{rating}}</b> </br>Genre: <b>{{genre}}</b> </br><button>+</button></li>


</ul>
{{/gameSearched}}
</body>



<html>