<html>
<head>
 <link rel='stylesheet' href='/login.css'>
</head>
<body>
<div class='loginBox'>
<h1>Login</h1>
<form method="POST" action="/login">
  <div class='textBox'>  <input type="text" name="loginUser" placeholder="Username/Email"> </div>
  <div class='textBox'>  <input type="password" name="loginPass" placeholder="Password" minlength="5" required> </div>
    <button id="btn">Sign in</button>
</form>
</div>

<div class='others'>
<div>Dont have an account?
<a href="/register">Sign up</a>
</div>

</div>

</body>



</html>