<html>
<head></head>
<body>
<div id="login box">
<form method="POST" action="/login">
    <input type="text" name="loginUser" placeholder="Username/Email">
    <input type="password" name="loginPass" placeholder="Password" minlength="5" required>
    <button id="loginButton">Login<button>
</form>
</div>

<div id=redirect>
<a href="/register" id="registerRedirect">Create an account</a>
</div>
