<html>
<head>

</head>


<body> 
<h1>Users</h1>
<a href='/users'>Profile</a> </br>
<a href='/home'>Home</a> </br>

<ul>
{{#users}}

<li>  <b>{{dataValues.username}}</b> {{dataValues.email}}
<form method="POST" action='/addFriend'>
<input type="hidden" name="userId" value={{dataValues.id}}
<input type="hidden" name="userName" value={{dataValues.username}}
><button>+</button></form></li>

{{/users}}
</ul>
</body>



</html>