<html>
<head>

</head>


<body> 
<h1>User Profile</h1>
<a href='/users'>Profile</a> </br>
<a href='/home'>Home</a> </br>
<a href='/userSearch'>User Search</a> </br>


<ul>
<h2>Your Games</h2>
{{#watchListGames}}
<li>
<a href='/games/{{id}}'><img width="200" height="300" src={{image}}></a> 
</br>
<b>{{name}}</b>
</li>

{{/watchListGames}}
</ul>

<h2>Your Friends</h2>
{{#friends}}
<li>
{{username}}
</li>

{{/friends}}
</ul>





</body>



</html>